body{
  background: #f9f8fe;
  max-width: 900px;
  margin: 0 auto;
  
}
a{
  color:rgb(152, 112, 190)
}
.App-header{
  text-align: center;
  margin: 40px;
}

.App-header h1{
  font-size: 70px;
  
  text-align: center;
}
.App-link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: center;
  display:block;
}